.results-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.results-text {
  font-size: 2.5rem;
  color: #e4e4e4;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.results-text span a {
  letter-spacing: 0.5px;
  text-decoration: underline;
  color: #f9a01b;
  transition: 0.2s ease;
}

.results-text span a:hover {
  color: purple;
}

.results-text .margin {
  margin: 1.5rem 4rem;
}
