.help-container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.margin {
  margin: 1.5rem 4rem;
}

.help-tit {
  font-size: 2.5rem;
  color: #e4e4e4;
  font-weight: 600;
}

.help-txt {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #e4e4e4;
}

.help-txt ul {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.help-txt li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

span a {
  text-decoration: underline;
  color: #f9a01b;
  transition: 0.2s ease;
}
a:hover {
  color: purple;
}
