certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
docopt==0.6.2
Flask==2.0.1
Flask-Cors==3.0.10
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
neo4j==4.3.4
pipreqs==0.4.10
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
six==1.16.0
urllib3==1.26.6
Werkzeug==2.0.1
yarg==0.1.9
