.about-cont {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin {
  margin: 1.5rem 4rem;
}

.about-tit {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #e4e4e4;
  font-weight: 600;
}

.about-txt {
  font-size: 1.5rem;
  color: #e4e4e4;
}

.about-txt a {
  text-decoration: underline;
  color: #f9a01b;
  transition: 0.2s ease;
}

.about-txt a:hover {
  color: purple;
}
